<p id="notice"><%= notice %></p>

<p>
  <b>Account number:</b>
  <%= @account.account_number %>
</p>

<p>
  <b>Account type:</b>
  <%= @account.account_type %>
</p>

<p>
  <b>Balance type:</b>
  <%= @account.balance_type %>
</p>

<p>
  <b>User:</b>
  <%= @account.user %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
